/* Ready for Variables & mixins */
@font-face {
  font-family: 'addFontNameHere';
  src: url("../fonts/addFontNameHere.woff") format("woff"); }

/* ************************************************************************** */
/* ******************************** General ********************************* */
/* ************************************************************************** */
span.line {
  display: inline-block; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.san-serif {
  font-family: 'addFontNameHere', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.uppercase {
  text-transform: uppercase; }

@media (min-width: 980px) {
  .vertical-parent {
    position: relative; }
  .vertical-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); } }

.bg-color-1 {
  background-color: #640000 !important; }

.bg-color-2 {
  background-color: darkgreen !important; }

.bg-color-3 {
  background-color: #000064; }

.bg-tile {
  background-image: url();
  background-repeat: repeat; }

.bg-pattern {
  background-image: url();
  background-size: cover; }

body p, body ul#top-menu a, body .et_mobile_menu li a {
  color: black; }

body h1 {
  color: black; }

body h3 {
  color: black; }

/* ************************************************************************** */
/* **************************** Contact Form 7 ****************************** */
/* ************************************************************************** */
form.wpcf7-form .one-half,
form.wpcf7-form .one-third {
  position: relative;
  margin-right: 4%;
  float: left;
  margin-bottom: 20px; }

form.wpcf7-form .one-half {
  width: 48%; }

form.wpcf7-form .one-third {
  width: 30.66%; }

form.wpcf7-form .last {
  margin-right: 0 !important;
  clear: right; }

@media only screen and (max-width: 767px) {
  form.wpcf7-form .one-half, form.wpcf7-form .one-third {
    width: 100%;
    margin-right: 0; } }

/* Ready for SCSS */
/* style.css will override child-theme.scss,
   I don't know that we need it, but it's there if we need it.
   I've run into issues where Skrollr needed to use vanilla CSS and not SASS */
/* ************************************************************************** */
/* ******************************** General ********************************* */
/* ************************************************************************** */
/*If you want global elements, check the '_child_theme_boilerplate.scss' first*/
/* ************************************************************************** */
/* ****************************** Navigation ******************************** */
/* ************************************************************************** */
/* ************************************************************************** */
/* ******************************** Footer ********************************** */
/* ************************************************************************** */
/* ************************************************************************** */
/* ****************************** Homepage ********************************** */
/* ************************************************************************** */
/* ************************************************************************** */
/* ****************************** About Us ********************************** */
/* ************************************************************************** */
/* ************************************************************************** */
/* ************************* Meet The Doctor ******************************** */
/* ************************************************************************** */
/* ************************************************************************** */
/* ****************************** Services ********************************** */
/* ************************************************************************** */
/* ************************************************************************** */
/* ****************************** Contact *********************************** */
/* ************************************************************************** */
