/*
Theme Name: Divi Child
URI: http://eoscorporate.com/
Description: A Custom Child Theme For Divi
Author: EOS Corporate
Author URI: http://eoscorporate.com/
Template: Divi
Version: 1.0
*/

/* Secondary Menu */

#et-info-phone {
    float: right;
}

#et-info {
    float: none;
}

/* Switch Divi Logo on Mobile Devices 
@media only screen and (max-width: 981px) {
	#logo {
	content: url("/wp-content/");
	max-height: 160px;
	height: auto; 
	}
}
*/