/* ************************************************************************** */
/* ******************************** General ********************************* */
/* ************************************************************************** */


span.line {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.san-serif {
  @include sanSerif;
}

.uppercase {
  text-transform: uppercase;
}

// start of vertical align fix
@media(min-width: 980px) {

/* Removed vertical-parent relative position, not needed */
// .vertical-parent {
//   position: relative;
// }

/* Apply to intended module */
  .vertical-child {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
  }

}
//end of vertical align fix




// start of global backgrounds
.bg-color-1 {
  background-color: $bg-color-1 !important;
}

.bg-color-2 {
  background-color: $bg-color-2 !important;
}

.bg-color-3 {
  background-color: $bg-color-3;
}

.bg-tile {
  background-image: url(); // don't add the domain in the path, do something like '/wp-content/uploads/2018/etc...'
  background-repeat: repeat;
}

.bg-pattern {
  background-image: url(); // don't add the domain in the path, do something like '/wp-content/uploads/2018/etc...'
  background-size: cover;
}
// end of global backgrounds
