

/* ************************************************************************** */
/* **************************** Contact Form 7 ****************************** */
/* ************************************************************************** */

form.wpcf7-form {

.one-half,
.one-third {
    position: relative;
    margin-right: 4%;
    float: left;
        margin-bottom: 20px;

}

.one-half { width: 48%; }
.one-third { width: 30.66%; }

.last {
    margin-right: 0 !important;
    clear: right;
}

.submit-button {
  margin-top: 14px !important;
}

.wpcf7-submit {
  color: #fff !important;
}

@media only screen and (max-width: 767px) {
    .one-half, .one-third {
        width: 100%;
        margin-right: 0;
    }
}

} //end of form.wpcf7-form
