/* ************************************************************************** */
/* ******************************* Footer  ********************************** */
/* ************************************************************************** */


// Mobile Footer Styling

  .mobile-footer-center {
      @media only screen and (max-width: 980px) {
          div, h2, p, a, img, ul {
              text-align: center;
          }
      }
  }
 // End Mobile Footer Styling
