/* Ready for Variables & mixins */

// Add any Google Font before HelveticaNeue
@mixin sanSerif {
  font-family: 'addFontNameHere', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// If you need to add (non-Google) fonts here, you need to add a class or target the element directly
// This will not show up in the theme's font options
@font-face {
    font-family: 'addFontNameHere';
    src: url('../fonts/addFontNameHere.woff') format('woff');
}

$bg-color-1 : rgba(100,0,0,1);
$bg-color-2 : rgba(0,100,0,1);
$bg-color-3 : rgba(0,0,100,1);

$text-color-1 : rgba(0,0,0,1);
$text-color-2 : rgba(0,0,0,1);
$text-color-3 : rgba(0,0,0,1);
